In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import scipy.stats as stats

from sklearn import preprocessing 
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.svm import SVR, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB 
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
# from sklearn.model_selection import GridSearchCV
# from sklearn.preprocessing import Imputer

#import xgboost as xgb
from functools import reduce
from imblearn.over_sampling import SMOTE
import itertools
import copy
import warnings
warnings.filterwarnings('ignore') 
%matplotlib inline

## Data normalization

In [2]:
def scaler(df,feature):
    X = np.array(df[feature])
    X = preprocessing.scale(X)
    df[feature] = X
    return df

In [3]:
df0 = pd.read_csv('Diabetes Project Part 1.csv')

In [4]:
df = df0.copy(deep=True)
print(df.columns.values)
df.head()

['12drinksayear' '5drinks2hours' '5drinksaday' 'BMI' 'LDL' 'age'
 'diabetes' 'fasting_glucose' 'race' 'sitting' 'sleeping' 'sugar' 'male'
 'female' 'sysBP' 'diaBP']

,12drinksayear,5drinks2hours,5drinksaday,BMI,LDL,age,diabetes,fasting_glucose,race,sitting,sleeping,sugar,male,female,sysBP,diaBP
0,1.0,0.0,1.0,30.8,3.0,53.0,0.0,5.59,3.0,5.000000,8.000000,0.750,1,0,140.000000,86.000000
1,1.0,0.0,1.0,28.8,2.0,78.0,1.0,4.66,3.0,8.000000,7.000000,1.600,1,0,135.333333,45.333333
2,0.0,0.0,0.0,20.3,2.0,42.0,0.0,4.66,4.0,9.000000,7.718424,2.750,0,1,104.000000,60.000000
3,0.0,0.0,0.0,28.6,2.0,72.0,0.0,5.93,1.0,0.166667,9.000000,0.070,0,1,119.333333,58.666667
4,1.0,0.0,1.0,28.0,2.0,22.0,0.0,5.27,4.0,9.000000,6.500000,1.085,1,0,111.333333,72.666667

* Numerical variables: '5drinks2hours', 'BMI', 'fasting_glucose', 'sitting', 'sleeping', 'sugar', 'sysBP', 'diaBP'
* Categorical variables: '12drinksayear', '5drinksaday', 'LDL', 'age', 'diabetes', 'race', 'male', 'female'

In [5]:
numerical_variables = ['5drinks2hours', 'BMI','age','fasting_glucose', 'sitting', 'sleeping', 'sugar', 'sysBP', 'diaBP']
categorical_variables = ['12drinksayear', '5drinksaday', 'LDL', 'diabetes', 'race', 'male', 'female']

### 1. Scale numerical variables

In [6]:
df = scaler(df,'5drinks2hours')
df = scaler(df,'BMI')
df = scaler(df,'age')
df = scaler(df,'fasting_glucose')
df = scaler(df,'sitting')
df = scaler(df,'sleeping')
df = scaler(df,'sugar')
df = scaler(df,'sysBP')
df = scaler(df,'diaBP')

Now compare before scaling and after scaling:

In [7]:
for feature in numerical_variables:
    print('Before scaling:')
    print(df0[feature].describe())
    print('After scaling:')
    print(df[feature].describe())
    print('-------------------------')

Before scaling:
count    2600.000000
mean        0.203846
std         1.399439
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        20.000000
Name: 5drinks2hours, dtype: float64
After scaling:
count    2.600000e+03
mean     6.410470e-16
std      1.000192e+00
min     -1.456907e-01
25%     -1.456907e-01
50%     -1.456907e-01
75%     -1.456907e-01
max      1.414849e+01
Name: 5drinks2hours, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean       29.215271
std         6.930430
min        15.100000
25%        24.300000
50%        28.200000
75%        32.900000
max        64.500000
Name: BMI, dtype: float64
After scaling:
count    2.600000e+03
mean    -1.253484e-16
std      1.000192e+00
min     -2.037101e+00
25%     -7.093667e-01
50%     -1.465229e-01
75%      5.317761e-01
max      5.092255e+00
Name: BMI, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean       48.601538
std        18.474853
min        18.000000
25%        33.000000
50%        48.000000
75%        64.000000
max        80.000000
Name: age, dtype: float64
After scaling:
count    2.600000e+03
mean     4.586075e-17
std      1.000192e+00
min     -1.656707e+00
25%     -8.446367e-01
50%     -3.256611e-02
75%      8.336425e-01
max      1.699851e+00
Name: age, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean        6.270337
std         2.229720
min         1.170000
25%         5.270000
50%         5.720000
75%         6.265834
max        26.600000
Name: fasting_glucose, dtype: float64
After scaling:
count    2.600000e+03
mean     4.963978e-17
std      1.000192e+00
min     -2.287874e+00
25%     -4.487242e-01
50%     -2.468663e-01
75%     -2.019874e-03
max      9.119339e+00
Name: fasting_glucose, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean        6.166255
std         3.362345
min         0.000000
25%         4.000000
50%         6.000000
75%         8.000000
max        23.000000
Name: sitting, dtype: float64
After scaling:
count    2.600000e+03
mean     4.976361e-16
std      1.000192e+00
min     -1.834268e+00
25%     -6.443932e-01
50%     -4.945580e-02
75%      5.454816e-01
max      5.007512e+00
Name: sitting, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean        7.718424
std         1.582687
min         2.000000
25%         7.000000
50%         8.000000
75%         8.500000
max        14.500000
Name: sleeping, dtype: float64
After scaling:
count    2.600000e+03
mean    -4.340118e-16
std      1.000192e+00
min     -3.613806e+00
25%     -4.540141e-01
50%      1.779442e-01
75%      4.939234e-01
max      4.285674e+00
Name: sleeping, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean        1.863210
std         1.486962
min         0.020000
25%         0.790000
50%         1.550000
75%         2.500000
max        12.000000
Name: sugar, dtype: float64
After scaling:
count    2.600000e+03
mean    -3.245267e-18
std      1.000192e+00
min     -1.239819e+00
25%     -7.218852e-01
50%     -2.106778e-01
75%      4.283316e-01
max      6.818425e+00
Name: sugar, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean      124.679168
std        17.797079
min        86.000000
25%       112.666667
50%       123.333333
75%       133.333333
max       226.666667
Name: sysBP, dtype: float64
After scaling:
count    2.600000e+03
mean    -8.992806e-17
std      1.000192e+00
min     -2.173762e+00
25%     -6.751002e-01
50%     -7.563566e-02
75%      4.863624e-01
max      5.731677e+00
Name: sysBP, dtype: float64
-------------------------
Before scaling:
count    2600.000000
mean       68.595190
std        12.063325
min         0.000000
25%        62.000000
50%        68.595190
75%        75.333333
max       126.000000
Name: diaBP, dtype: float64
After scaling:
count    2.600000e+03
mean    -5.269289e-17
std      1.000192e+00
min     -5.687353e+00
25%     -5.468193e-01
50%     -1.178248e-14
75%      5.586719e-01
max      4.759538e+00
Name: diaBP, dtype: float64
-------------------------

In [8]:
df0[numerical_variables].head()

,5drinks2hours,BMI,age,fasting_glucose,sitting,sleeping,sugar,sysBP,diaBP
0,0.0,30.8,53.0,5.59,5.000000,8.000000,0.750,140.000000,86.000000
1,0.0,28.8,78.0,4.66,8.000000,7.000000,1.600,135.333333,45.333333
2,0.0,20.3,42.0,4.66,9.000000,7.718424,2.750,104.000000,60.000000
3,0.0,28.6,72.0,5.93,0.166667,9.000000,0.070,119.333333,58.666667
4,0.0,28.0,22.0,5.27,9.000000,6.500000,1.085,111.333333,72.666667

In [9]:
df[numerical_variables].head()

,5drinks2hours,BMI,age,fasting_glucose,sitting,sleeping,sugar,sysBP,diaBP
0,-0.145691,0.228706,0.238124,-0.305181,-0.346925,1.779442e-01,-0.748791,0.861028,1.443065
1,-0.145691,-0.059931,1.591575,-0.722354,0.545482,-4.540141e-01,-0.177046,0.598762,-1.928683
2,-0.145691,-1.286642,-0.357394,-0.722354,0.842950,-1.122584e-15,0.596492,-1.162165,-0.712643
3,-0.145691,-0.088795,1.266747,-0.152666,-1.784690,8.099026e-01,-1.206187,-0.300435,-0.823192
4,-0.145691,-0.175387,-1.440155,-0.448724,0.842950,-7.699933e-01,-0.523456,-0.750033,0.337574

### 2. Reduce levels in categorical variables

In [10]:
for feature in categorical_variables:
    print(df[feature].value_counts())
    print()

1.0    1817
0.0     783
Name: 12drinksayear, dtype: int64

0.0    2224
1.0     376
Name: 5drinksaday, dtype: int64

2.0    1358
1.0    1007
3.0     235
Name: LDL, dtype: int64

0.0    2210
1.0     390
Name: diabetes, dtype: int64

3.0    872
4.0    545
1.0    439
2.0    348
6.0    298
7.0     98
Name: race, dtype: int64

0    1321
1    1279
Name: male, dtype: int64

1    1321
0    1279
Name: female, dtype: int64

The number of levels in each categorical varibles is manageble. We leave them as they are for now.

### Export

In [11]:
df.to_csv('Diabetes Project Part 2.csv',index=False,sep=',')